        
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
              <p>
                <a href="https://drojasfrontend.github.io/portfolio/"><strong>D7</strong> by Daniel Rojas Astood</a>. 
              </p>
            </div>
          </footer>
    </body>
</html>